body {
    background: #4b040d;
    background-repeat: repeat;
    font-family: monospace;
    max-width: 100%;
    overflow-x: hidden;
    max-height:100%;
    overflow-y:scroll;
}

a {
    text-decoration: none;
    color: #ffd8dd;
  }

h1 {
    border-bottom: 4px #ff9797 solid; 
    width:45%;
    margin:auto;
}

h2 {
    padding-left: 2%;
    color: #fee3e6;
}

h3 {
  padding-left: 2%;
}

p {
    padding-left: 2%;
}

.header {
    text-align: center;
}

.thediv {
    background-color: #090909;
    border-radius: 10px;
    border: 3px solid #bb152b;
    color: #fee3e6;
    width: 50%;
    margin: auto;
    padding: 3px;
    margin-bottom: 10px;
  }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: #030303;
}

.navtext { 
  padding: 14px;
  font-size: 18px;
  display: inline;
  font-family: monospace;
  color: #fee3e6;
}

.navtext:hover {
  background-color: #bb152b;
}

.normalimg {
    border: 5px solid #ff576d;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 2%;
    position: fixed;
    top: 6%;
    width: 13%;
}